body{
    margin: 0%;
    padding: 0%;
    max-width: auto;
}

.title{
    text-align: center;
    font-size: 55px;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
#content{
    background-color:aliceblue;
    padding: 2%;
    max-width: 100%;
}
.oMeni{
    margin-top: 10%;
    color: black;
    font-size: 20px;
    text-align: justify;
}
iframe{
    margin-top: 1%;
}
#marginZaKartu{
    margin-top: 1%;
}
.carousel-item img {
    margin: 3%;
    max-height: 30%;
    max-width: 70%; 
}
#carouselExampleIndicators {
    background-color: #e3eafa;
    max-width: 100%;
}
#hobi{
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 3%;
    margin-left:50%;
}
#kontakt{
    margin-left: 47%;
    margin-top: 1%;
    margin-bottom: 4%;
}
#right-side{
    margin-top: 10%;
}
#left-side{
    margin-top: 10%;
}
.smaller-image {
    max-width: 100px;
    height: auto;
}
.btn-dark {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    margin-bottom: 2%;
}
#insta, #facebook{
    margin-top: 5%;
    padding: 0;
}